<mat-nav-list>
    <div class="logo py-1">
    <h1 routerLink="/admin" style="color: white; cursor: pointer;"><b>Nifi-Payments</b></h1>        
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/summary">
        <mat-icon style="color: white;">account_balance</mat-icon>
        <span class="DD">Transaction Summary</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/history">
        <mat-icon style="color: white;">search</mat-icon>
        <span class="DD">Transaction History</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/enquiry">
        <mat-icon style="color: white;">account_balance</mat-icon>
        <span class="DD">Transaction Enquiry</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/list">
        <mat-icon style="color: white;">account_balance</mat-icon>
        <span class="DD">Client List</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/report">
        <mat-icon style="color: white;">menu</mat-icon>
        <span class="DD">Settlement Report</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/rt_history">
        <mat-icon style="color: white;">list</mat-icon>
        <span class="DD">Refund Transaction History</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/helps">
        <mat-icon style="color: white;">help</mat-icon>
        <span class="DD">FAQs/Help</span>
    </a>

    <!-- <ul class="collapse list-unstyled" id="tablesSubmenu">
        <li>
            <span routerLinkActive="list-item-active" routerLink="/admin/customertable" class="DD"
                style="margin-left: 17%; cursor: pointer;">&nbsp;&nbsp; Customer Table</span>
        </li>
        <br>

    </ul> -->

    <!-- <a mat-list-item> <mat-icon style="color: white;">edit</mat-icon> Link 4 </a>
    <a mat-list-item> <mat-icon style="color: white;">edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon style="color: white;">edit</mat-icon> Link 6 </a> -->
</mat-nav-list>